html { 
    background: url(https://i.ibb.co/Gs0BwrY/Background.png) no-repeat center fixed; 
    background-size: cover;
  }

.logo {
    font-family: ink free;
    padding:20px;
    margin-left: 30px;
    color: #F4F4F4;    
}

.logoName {

    font-size: 60px;
}

.logoSubtitle {

    font-size: 40px;
}

.superiorBar {
    display: flex;
    flex-wrap: wrap;
}